.container {
  width: 400px;
  margin: 0 auto;
  padding: 1rem;
}
form {
  display: flex;
  flex-direction: column;
  h1 {
    align-self: center;
    margin: 2rem;
    font-size: 3rem;
  }
  label {
    margin-top: .7rem;
    margin-bottom: .4rem;
  }
  input {
    padding: .7rem 1rem;
    border: 2px solid #eee;
    border-radius: 5px;
  }
  .error {
    color: #F8515B;
    font-size: .8rem;
    margin-top: .4rem;
  }
}
.icon {
  margin-right: .5rem;
}