* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #f2f2f2;
}

.container {
  margin: 0 auto;
  width: 80vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
}

button {
  background-color: #39b296;
  cursor: pointer;
  color: #fff;
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    background-color: #1b9d94;
  }
}

// Header
.header {
  padding: 1em 8em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #39b296;
  .brand a {
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
  }
  .hamburger-icon {
    font-size: 2rem;
    cursor: pointer;
    display: none;
    @media screen and (max-width: 960px) {
      & {
        display: block;
      }
    }
  }
  .nav-menu {
    list-style: none;
    display: flex;
    align-items: center;
    .hamburger-close {
      display: none;
    }
    li {
      margin-right: 1rem;
      &:last-child {
        margin-right: 0;
      }
      a {
        font-size: 1.1rem;
        color: #fff;
        &:hover {
          color: #1f7180;
        }
      }
    }
    @media screen and (max-width: 960px) {
      & {
        display: none;
      }
      &.open {
        display: flex;
        flex-direction: column;
        position: absolute;
        align-items: center;
        justify-content: center;
        top: 0;
        left: 0;
        background: #39b296;
        width: 100vw;
        &.open li {
          margin: 0;
          padding: 1rem 0;
          width: 100%;
          text-align: center;
        }
        &.open .hamburger-close {
          display: block;
          cursor: pointer;
          font-size: 2rem;
          position: absolute;
          top: 1.5rem;
          right: 2rem;
        }
      }
    }
  }
}

// Login & SignUp

.form-container {
  width: 400px;
  margin: 0 auto;
  p {
    margin-top: 0.7rem;
  }
}
form {
  display: flex;
  flex-direction: column;
  h1 {
    align-self: center;
    margin: 2rem;
    font-size: 3rem;
  }
  label {
    margin-top: 0.7rem;
    margin-bottom: 0.4rem;
  }
  input {
    padding: 0.7rem 1rem;
    border: 2px solid #eee;
    border-radius: 5px;
  }
  .error {
    color: #f8515b;
    font-size: 0.8rem;
    margin-top: 0.4rem;
  }
}
.icon {
  margin-right: 0.5rem;
}

// Alert
.alert {
  text-align: center;
  margin: 1.5rem auto;
  padding: 0.7rem;
  border-radius: 5px;
  width: 400px;
}

.alert-danger {
  background-color: #dc3545;
}

.alert-success {
  background-color: #17a2b8;
}

// Dashboard
.user {
  margin-top: 10px;
  display: flex;
  padding: 1rem 1rem;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #fff;
  border-radius: 5px;
  @media screen and (max-width: 660px) {
    & {
      justify-content: center;
    }
  }
  img {
    width: 15rem;
    max-width: 100%;
    height: 15rem;
  }
  .user-info {
    p {
      font-size: 1.2rem;
      border: 1px solid #2a5c6e;
      margin-top: 0.5rem;
      padding: 1rem;
      border-radius: 5px;
      display: flex;
      span {
        font-weight: bold;
      }
    }
  }
}

.dashboard-nav {
  margin-top: 10px;
  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #2a5c6e;
    border-radius: 5px;
    li {
      padding: 1rem;
      cursor: pointer;
      height: 100%;
      &:hover {
        background-color: #2f4858;
      }
      &:first-child {
        border-radius: 5px 0 0 5px;
      }
    }
  }
}

.post {
  margin-top: 10px;
  background-color: #fff;
  padding: 1rem;
  border-radius: 5px;
  .post-header {
    display: flex;
    align-items: center;
    .voting {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-right: 0.5rem;
      i {
        color: #2a5c6e;
        cursor: pointer;
      }
    }
    .post-meta-info {
      font-size: 0.8rem;
      color: #5f807f;
      display: flex;
      p + p,
      a {
        margin-left: 1rem;
      }
      a {
        color: #5f807f;
      }
    }
  }

  .post-body {
    margin-top: 10px;
  }
}

// Comment
.comment {
  margin-top: 10px;
  background-color: #cacfd8;
  padding: 1rem;
  border-radius: 5px;
  .comment-header {
    display: flex;
    align-items: center;
    .voting {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-right: 0.5rem;
      i {
        color: #2a5c6e;
        cursor: pointer;
      }
    }
    .comment-meta-info {
      font-size: 0.8rem;
      color: #5f807f;
      display: flex;
      p + p {
        margin-left: 1rem;
      }
    }
  }
  .comment-body {
    margin-top: 10px;
  }
}

.add-comment {
  margin-top: 10px;
  textarea {
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
  }
  button {
    width: 150px;
    margin-left: auto;
  }
}

// Communities
.communities {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 1rem;
  .community {
    border-radius: 5px;
    padding: 1rem;
    border: 1px solid #000;
    text-align: center;
    a {
      font-weight: 800;
      font-size: 1.2rem;
    }
    p {
      color: #393939;
    }
  }
}
