* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  // background-image: url('./assets//background.svg');
}

a {
  text-decoration: none;
}

button {
  background-color: #39B296;
  cursor: pointer;
  color: #fff;
  font-size: 1.3rem;
  padding: .5rem 1rem;
  border-radius: 5px;
  border: none;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    background-color: #1B9D94;
  }
}