.header {
  padding: 1em 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #39B296;
  .brand a {
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
  }
  .hamburger-icon {
    font-size: 2rem;
    cursor: pointer;
    display: none;
    @media screen and (max-width: 960px) {
      & {
        display: block;
      }
    }
  }
  .nav-menu {
    list-style: none;
    display: flex;
    align-items: center;
    .hamburger-close {
      display: none;
    }
    li {
      margin-right: 1rem;
      &:last-child {
        margin-right: 0;
      }
      a {
        font-size: 1.1rem;
        color: #fff;
        &:hover {
          color: #1F7180;
        }
      } 
    }
    @media screen and (max-width: 960px) {
      & {
        display: none;
      }
      &.open {
        display: flex;
        flex-direction: column;
        position: absolute;
        align-items: center;
        justify-content: center;
        top: 0;
        left: 0;
        background: #39B296;
        width: 100vw;
        &.open li {
          margin: 0;
          padding: 1rem 0;
          width: 100%;
          text-align: center;
        }
        &.open .hamburger-close {
          display: block;
          cursor: pointer;
          font-size: 2rem;
          position: absolute;
          top: 1.5rem;
          right: 2rem;
        }
      }
    }
  }
}
